/Pods
.idea/
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

#Pods
Podfile.lock

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Textmate
*.tmproj
*.tmproject
tmtags

# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.xccheckout


IDEWorkspaceChecks.plist
